<div class="flex bg-red-100 rounded-3xl">
    <div class="ml-[4%] mt-[6%]">
        <img src="../../../assets/footer-logo.png" class="w-32">
        <div class="mt-6 text-gray-500 font-bold text-sm">© 2022 GoGrubz Ltd. All Rights Reserved.</div>
    </div>

    <div class="flex text-black ml-[18%]">
        <ng-container *ngFor="let data of datas">
            <div class="ml-[16%] text-nowrap  font-semibold">
                <ng-container *ngFor="let data2 of data">
                <div class="mt-[8%]">{{data2}}</div>
                </ng-container>
            </div>
        </ng-container>
    </div>

    <div class="mt-[10%] ml-[15%] text-xs">
        <div>FOLLOW US</div>
        <div class="flex">
            <img src="../../../assets/facebook-logo-svgrepo-com.svg" class="w-5 -ml-[20%]">
            <img src="../../../assets/instagram-logo-facebook-2-svgrepo-com.svg" class="ml-[14%] w-6">
            <img src="../../../assets/twitter-logo-shape-svgrepo-com.svg" class="w-6 ml-[14%]">
        </div>
    </div>

</div>