<div class="flex bg-red-500 rounded-3xl mb-5">
    <img src="../../../assets/download.PNG" class="w-[40%] mt-[4%] ml-[8%]">
    <div class="text-white ml-[10%] ">
        <div class="text-6xl w-[60%] mt-[24%] font-extrabold font-sans" style="font-family: 'Jua', sans-serif;">Download our App</div>
        <div  class="text-lg w-[84%] mt-[5%]">Our app gives you access to your favourite restaurants. Get your food delivered right to you </div>
        <div class="flex mt-3">
            <img src="../../../assets/appstore.png" class="rounded-xl w-[25%]">
            <img src="../../../assets/google-play.png" class="ml-6 mt-[8%] rounded-xl w-[28%] h-12">
        </div>
    </div>
</div>