<div class="mt-3 flex pb-6 w-[100%]">
    <div class=" rounded-3xl pr-[10%] bg-red-100 w-[60%] z-10 text-black text-6xl  " style="
        
        clip-path: polygon(0 0, 100% 0%, calc(100% - 40%) 100%, 0% 100%);">
        <div class="pl-10 mt-[30%] font-bold" style="font-family: 'Jua', sans-serif;">

            Join the movement
        </div>
        <div class="pl-10 mt-[8%] text-gray-600 text-base w-[70%]">
            Grow your business and reach new
customers by partnering with us.
        </div>
        <button class="bg-red-600 rounded-3xl ml-10 mt-6 text-center text-lg text-white px-6 py-2 mb-5 hover:text-red-600 hover:bg-white hover">Sign up your store</button>
    </div>
    <div class="z-0 -ml-[20%] w-[100%]">
        <img src="../../../assets/join-movement-bg.png" class="w-[150%] rounded-3xl " style="
        height: 100%;
        clip-path: polygon(20% 0, 100% 0%,100%  100% , 0%  100%);">
    </div>
</div>