<div class="flex pb-3">
    <div class="rounded-3xl bg-red-100 pb-3">

        <img src="../../../assets/crave-image.png" class="ml-[24%] mt-[10%] w-[50%] " >
    </div>
    <div class="ml-[8%] w-[33%] mt-[10%]">
        <div class="text-5xl font-extrabold" style="font-family: 'Jua', sans-serif;">
            Everything you craved, delivered.
        </div>
        <div class="text-gray-500 text-lg w-[110%] mt-[5%]">
            Get a pizza or a curry delivered, or pick up some chicken
            <div class="w-[130%]">
                chow mein from the Chinese takeout spot you've been meaning to try.
            </div>
        </div>
        <button class="bg-red-600 rounded-3xl  mt-6 text-center text-lg text-white px-6 py-2 mb-5 hover hover:text-red-600 hover:bg-white hover">Find Restaurant</button>
    </div>
</div>