<div class="flex mb-4">
    <div class="mt-[10%] ml-[10%] w-[100%] ">
        <div class="w-[90%] text-black text-6xl font-bold" style="font-family: 'Jua', sans-serif;">Find the perfect cuisine for you.</div>
        <div class="text-gray-500 mt-[6%] w-[90%] text-lg">Start swiping right for your taste buds – you'll soon find the cuisine
            that's a perfect match for your cravings.</div>
            <button class="bg-red-600 rounded-3xl  mt-6 text-center text-lg text-white px-6 py-2 mb-5 hover hover:text-red-600 hover:bg-white hover">Discover Cuisines</button>
    </div>
    <img src="../../../assets/perfect-cuisine-image.png" class="w-[40%]">
</div>